<html>

    <head>

        <link rel="stylesheet" href="/app/res/css/main.css" />

        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->

    </head>

    <body>

        <div class="search-window" id="search-window">

          <div class="search-bar">
            <input class="input" type="text" id="search-input" placeholder="hehe" />
          </div>

          <div class="search-results-topp"></div>

          <div class="search-results">

            <div class="grid">

              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div> <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>
              <div class="item">
                <i class="mi">home</i>
              </div>

            </div>

          </div>

        </div>

        <div class="main-window" id="main-window">

        <div class="overlay"></div>

        <div class="sidebar active" id="sidebar">

            <div class="toggle">
                <img src="/app/res/img/logo/logo.svg" class="icon" />
            </div>

            <div class="button">
                <i class="mi">home</i>
            </div>

            <div class="button">
                <i class="mi">layers</i>
            </div>

            <div class="button" id="search">
                <i class="mi">search</i>
            </div>

            <div class="button">
                <i class="mi">person</i>
            </div>

            <div class="button">
                <i class="mi">mail</i>
            </div>

            <div class="button">
                <i class="mi">settings</i>
            </div>

            <div class="button">
                <i class="mi">navigate_next</i>
            </div>

        </div>

        <div class="main">

            <div class="header ark">
                Hehe
            </div>

            <ul class="simple-ul">

                <li><i class="mi">navigate_next</i>Manjaro HAHA</li>
                <li>Manjaro 2 <div class="right"><div>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                  </label>
                </div></div></li>
                <li>Advanced Manjaro</li>

            </ul>

        </div>

        </div>


        <script src="/app/res/js/jquery.js"></script>
        <script src="/app/res/js/term.js"></script>
        <script src="/app/res/js/at.js" @provide="@all"></script>
        <script src="/app/res/js/main.js"></script>

    </body>

</html>
